<div class="row">
<% if @replies %>
	

  <%= @comment.replies.each do |reply| %>
      <div class="col-sm-2">
        <div class="btn-group">
            <%= link_to like_link_comment_reply_path(@link, @comment, reply), method: :put, class: "btn btn-success btn-sm" do %>
            
            <span class="upvote">Up</span>
            <%= reply.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_link_comment_reply_path(@link, @comment, reply), method: :put, class: "btn btn-danger btn-sm" do %>
            <span class="upvote">Down</span>
            <%= reply.get_downvotes.size %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <p class="lead"><%= reply.body %></p>
        <p><strong><%= time_ago_in_words(reply.created_at) %> ago</strong> by <%= reply.user.email %></small>
        <hr>
      </div>
   
      <div class="btn-group col-sm-3">
        <% if reply.user == current_user -%>
          <%= link_to 'Edit', edit_link_comment_reply_path(@link, @comment, reply), class: "btn btn-sm btn-warning"  %>
          <%= link_to 'Delete', reply, method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
  <% end %>
<% end %>
</div>
