<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Score</th>
        <th>Title</th>
        <th>Url</th>
        <th>Comments</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td>
            <div class="btn-group">
              <%= link_to like_link_path(link), method: :put, class: "btn btn-success btn-sm" do %>
                <span class="upvote"><%= link.get_upvotes.size %></span>
              <% end %>
              <%= link_to dislike_link_path(link), method: :put, class: "btn btn-danger btn-sm" do %>
                <span class="upvote"><%= link.get_downvotes.size %></span>
              <% end %>
            </div>
          </td>
          <td><%= link.title.titleize %></td>
          <td><a href="<%= Link.add_http(link.url) %>" target="_blank"><%= Link.add_http(link.url) %></a></td>
          <td><%= link.comments.count %></td>
          <td><%= link.user.first_name.titleize %></td>
          <td><%= link_to 'View', link_path(link), class: 'btn btn-info' %></td>
          <% if link.user == current_user %>
            <td><%= link_to 'Edit', edit_link_path(link), class: 'btn btn-warning' %></td>
            <td><%= button_to 'Delete', link, method: :delete, class: 'btn btn-danger',data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>