<% if current_user %>

  <h1>Links</h1>

  <%= render 'links' %>

  <%= link_to 'New Link', new_link_path %>
<% else %>
  <p>To submit a link, please <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %></p>
  <h1>Links</h1>

  <%= render 'links' %>
  
<% end %>